<div class="well page">
    <h1 class="page-header">The Project</h1>

    <div>
        <p>The focus of this research project is to create a platform that provides continuous, formative feedback for a
            student working in a project based course. These projects utilize Agile methods (specifically Scrum) to
            conduct the projects. Scrum is an excellent process model for students in an agile learning setup as it
            embodies a philosophy of establishing a rhythm to weekly and even daily activities.</p>
        <img style="margin:0px auto;display:block" src="./resources/img/regulated_learning.png" alt="Regulated Learning">
        <p>However, assessing student activity in an agile, project-based course can have its own shortcomings
            including:
            increased costs for the instructor, delayed feedback, and possibly a drop in student compliance. The primary
            motivation of the Continuous Assessment program is to gauge project activity and provide real time,
            formative feedback in order to enhance the learning experience and ensure compliance in project-based
            courses.</p>
        <p>The specific innovation evaluated in this project is the use of visualizations and notifications to ensure
            student compliance with the learning process. Students can view their progress via online tools on a daily
            basis and get regular notifications if they fall behind the expected progress. The initial version of the CA
            platform supports the integration of 3 tools:
            <a target="_blank" href="https://github.com/">GitHub</a> for source code management,
            <a target="_blank" href="https://slack.com/">Slack</a> for team communication and collaboration, and
            <a target="_blank" href="https://taiga.io/">Taiga</a> for the Scrumboard. These tools were chosen as they
            provide the most important collaborative functionality for supporting software products and organizing a
            team’s work. More tools will be integrated into the system as the project progresses.</p>
    </div>

    <h2 class="sub-header">Continuous Assessment</h2>
    <div>
        <p>Continuous assessment in educational research is defined as the practice of performing frequent assessments
            in
            a course context. The practice has become popular in constructivist approaches to (project-based) learning,
            as frequent assessment provides a feedback mechanism ensuring student are properly aligned with a scaffold
            learning process. It remains an active area of research with an ongoing debate surrounding the utility of
            formative versus summative continuous assessment.</p>
        <p>Continuous assessment, in a university course, tends to follow a scaffold learning process, albeit assessing
            at a much higher frequency than coarse-grained learning processes typical of a traditional, prescriptive
            university course. We see the Agile concept of continuous integration and testing realized in a software
            technology platform as a direct means to perform continuous assessment.</p>
        <p>The current platform is a web-based integration platform (as seen below) composed of two subsystems, each
            with
            its own user-facing components. The primary component, CAssess (short for Continuous Assessment), provides
            features for:</p>
        <strong>
            <ul>
                <li>Integrating data streams from open tool APIs</li>
                <li>Performing basic statistical analysis</li>
                <li>Displaying visualizations and notifications to student and instructors</li>
            </ul>
            <br>
        </strong>
        <img style="margin:0px auto;max-width: 100%;max-height: 100%;display:block" src="./resources/img/CAssessBoard.png" alt="CAssess">
    </div>
</div>
