<div ng-controller="newCourseAdmins">
    <div class="form-group">
        <h3> Select Admin or add new Admin</h3>
        <div>
            <select ng-model="selectedAdmin" class="form-control" ng-options="admin.email for admin in admins" placeholder="Select Admin">
            </select>
        </div>
        <div>
            <button ng-click="removeAdmin()" class="btn btn-default">Remove</button>
        </div>
        <div>
            <button ng-click="editAdmin()" class="btn btn-default">Edit</button>
        </div>
        <label> Selected Admin: {{selectedAdmin.name}}</label>
    </div>
    <div class="container" style="max-width:600px;margin:60px auto;">
        <form role="form">
            <div class="form-group">
                <label>Admin Name</label>
                <input type="text" class="form-control" ng-model="enteredName" placeholder="Enter name" ng-required="true">
            </div>
            <div class="form-group">
                <label>Email Address</label>
                <input type="email" class="form-control" ng-model="enteredEmail" placeholder="Enter email" ng-required="true">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control"ng-model="enteredPassword" placeholder="Enter password" ng-required="true">
            </div>
            <button ng-click="saveAdmin()" class="btn btn-default">Save Admin</button>
        </form>
    </div>
    <div>
        <button ng-click="applyChanges()" class="btn btn-default">Apply Changes</button>
    </div>
</div>