<div class="well page">
    <h1 class="page-header">GitHub Data</h1>
    <br><br>
    <h1>These are some Charts!</h1>
    <br><br>
    <div ng-controller='charts as ch'>
        <p>This is going to display some charts.</p>
        <br><br>
        <p>This displays the chart data response: </p>
        <br><br>
        <p> This is the data for the chart: {{ch.chartData}}</p>
        <br><br>
        <p> Here's the chart: </p>
        <br><br>
        <!--<div  ng-controller="charts as charts" ng-show="!authenticated">
            <h1>You are not authorized to view these pages!</h1>
        </div>-->
    </div>
    <!-- Chart Area -->
    <div ng-controller='charts'>
        <nvd3 options='options' data='data'></nvd3>
    </div>
</div>