<h1>Welcome to CAssess!</h1>
<div>
    <p>You are logged in as {{home.greeting.id}}!  Have a look around...</p>
    <p> The slack team members are accessed from API are: {{home.greeting.content}}</p>
    <p> The slack team members using the slack service are: {{home.greeting.SlackService}}</p>
    <p> The slack team members IDs access from API are: {{home.greeting.teamIDs}}</p>
    <p> The Taiga token accessed from database is: {{home.greeting.token}}</p>
    <p> The Taiga ID accessed from database is: {{home.greeting.taigaID}}</p>
    <p> The Taiga info gathered from API is : {{home.greeting.Info}}</p>
    <p> The Taiga slug for the project accessed from database is: {{home.greeting.Slug}}</p>
    <p> The Taiga Task Totals accessed from database are: {{home.greeting.TaskTotals}}</p>
    <p> The Slack time zone accessed from database is: {{home.greeting.slackTimeZone}}</p>
    <p> The Slack teamId accessed from database is: {{home.greeting.slackTeamId}}</p>
    <p> The GitHub Commit commit list accessed from API is: {{home.greeting.gitHubCommitList}}</p>
</div>