<div class="well page">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="pull-left" style="margin-left: 16px">Welcome {{account.firstName}}!</h1>
            <div class="pull-right social-icons" access="admin">
                <a target="_blank" href="https://github.com/tjjohn1/cassess-capstone-team2">
                    <i class="fa fa-2x fa-github"></i></a>
            </div>
        </div>
        <br/>

        <div class="col-lg-12">
            <blockquote style="margin-left: 16px">
                <p>Welcome to the home page of the Continuous Assessment (CA)</p>

                <p>research project at the Software Engineering program</p>

                <p>offered at <a target="_blank" href="https://www.asu.edu/">Arizona State University.</a></p>
            </blockquote>
            <br/>
            <p>To get started, select a course from the dropdown list above...</p>
        </div>
    </div>
</div>