<div class="navbar navbar-default">
    <div class="navbar-header">
        <div class="navbar-collapse collapse navbar-responsive-collapse" ng-controller="MetricsGuideController">
            <ul class="nav navbar-nav navbar-left">
            </ul>
        </div>
    </div>
</div>
<div class="well page">
    <h1 class="page-header">CAssess Metrics Guide</h1>
    <div class="container" ng-controller="TabController">
        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked">
                    <li ng-class="{ active: isSet(1) }">
                        <a href="javascript:void(0)" ng-click="setTab(1)">Overall</a>
                    </li>
                    <li ng-class="{ active: isSet(2) }">
                        <a href="javascript:void(0)" ng-click="setTab(2)">Taiga</a>
                    </li>
                    <li ng-class="{ active: isSet(3) }">
                        <a href="javascript:void(0)" ng-click="setTab(3)">GitHub</a>
                    </li>
                    <li ng-class="{ active: isSet(4) }">
                        <a href="javascript:void(0)" ng-click="setTab(4)">Slack</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="jumbotron">
                    <div ng-show="isSet(1)">
                        <p class="text-warning text-left">
                            Note: Graph data is overlaid in a Course->Team->Student
                            hierarchy to show comparison, depending on which level is being viewed.
                            Clicking on a legend item (course, team, student), temporarily removes
                            that item from the graph for viewing underlying items easier.
                        </p>
                        <br>
                        <h3>Overall Frequency</h3><br>
                        <div>
                            <h4 class="lead bg-primary">Taiga</h4>
                            <p class="lead text-info text-left">
                                Refers to the amount of days in the week that task
                                state changes were made, aggregated to a proportional 0 to 3 scale.
                                Averages for total Course and Team, individual totals for Student
                            </p>
                            <br>
                            <h5 class="lead bg-primary">GitHub</h5>
                            <p class="lead text-info text-left">
                                Refers to the amount of weekly commit activity that
                                was done, aggregated to a proportional 0 to 3 scale.
                                Averages for total Course and Team, individual totals for Student
                            </p>
                            <br>
                            <h5 class="lead bg-primary">Slack</h5>
                            <p class="lead text-info text-left">
                                Refers to the amount of days in the week that messages
                                were made in the group, aggregated to a proportional 0 to 3 scale.
                                Averages for total Course and Team, individual totals for Student
                            </p>
                            <br>
                        </div>
                        <div>
                            <h3>Overall Impact(Weight)</h3><br>
                            <h5 class="lead bg-primary">Taiga</h5>
                            <p class="lead text-info text-left">
                                Refers to the amount of task state changes that were made
                                for a week, aggregated to a proportional 0 to 3 scale.
                                Averages for total Course and Team, individual totals for Student
                            </p>
                            <br>
                            <h5 class="lead bg-primary">GitHub</h5>
                            <p class="lead text-info text-left">
                                Refers to the total lines of code changes that were
                                made for a week, aggregated to a proportional 0 to 3 scale.
                                Lines of code deleted are given 25% of the value that lines
                                of code added are, for weight purposes.
                                Averages for total Course and Team, individual totals for Student
                            </p>
                            <br>
                            <h5 class="lead bg-primary">Slack</h5>
                            <p class="lead text-info text-left">
                                Refers to the amount of messages that were sent in a group
                                for a week, aggregated to a proportional 0 to 3 scale.
                                Averages for total Course and Team, individual totals for Student
                            </p>
                            <br>
                        </div>
                    </div>
                    <div ng-if="isSet(2)">
                        <h2>Taiga Data</h2>
                        <br>
                        <h3>Task Totals</h3><br>
                        <div>
                            <p class="lead text-info text-left">
                                Refers to the individual task state amounts per day collected:
                                'In Progress', 'Ready For Test', and 'Closed'.
                                These are selectable by week/multi-week ranges.
                                Averages for total Course and Team, individual totals for Student
                            </p>
                        </div>
                        <br>
                        <h3>Task Status Update Activity</h3><br>
                        <div>
                            <p class="lead text-info text-left">
                                Refers to the daily difference/change in task states:
                                'In Progress', 'Ready For Test', and 'Closed'.
                                This is listed by week, from aggregated totals.
                                Averages for total Course and Team, individual totals for Student
                            </p>
                        </div>
                    </div>
                    <div ng-if="isSet(3)">
                        <h3>GitHub Data</h3>
                        <br>
                        <p class="text-warning">
                            Note: GitHub API supplies commit and LOC data by week beginning only,
                            this is why it is listed as such in the graphs
                        </p>
                        <br>
                        <h3>GitHub Commit Activity</h3><br>
                        <div>
                            <h5 class="lead bg-primary">Commits</h5>
                            <p class="lead text-info text-left">
                                Refers to the number of commits per week, that are made to the master
                                branch.  Other branch commits are factored in upon pull request merge,
                                is selectable by week/multi-week ranges.
                                Averages for total Course and Team, individual totals for Student.
                            </p>
                            <br>
                            <h5 class="lead bg-primary">Lines of Code</h5>
                            <p class="lead text-info text-left">
                                Refers to the Lines of Code Added and also Deleted per week,
                                that are made to the master branch, Other branch lines of code
                                are factored in upon pull request merge, is selectable by
                                week/multi-week ranges.
                                Averages for total Course and Team, individual totals for Student
                            </p>
                            <br>
                        </div>
                        <br>
                        <h3>GitHub Weight Activity</h3><br>
                        <div>
                            <p class="lead text-info text-left">
                                Refers to an aggregated proportional value calculated
                                from the total code alteration, ie Lines of Code Added
                                and also Deleted per week, that are made to the master
                                branch, other branch lines of code amounts are factored
                                in upon pull request merge.
                                Averages for total Course and Team, individual totals for Student
                            </p>
                        </div>
                    </div>
                    <div ng-if="isSet(4)">
                        <h2>Slack Data</h2>
                        <br>
                        <h3>Message Totals</h3><br>
                        <div>
                            <p class="lead text-info text-left">
                                Refers to the daily slack message totals for messages
                                sent in a group, is selectable by week/multi-week ranges.
                                Averages for total Course and Team, individual totals for Student
                            </p>
                        </div>
                        <br>
                        <h3>Message Activity</h3><br>
                        <div>
                            <p class="lead text-info text-left">
                                Refers to the weekly slack message totals for messages
                                sent in a group.
                                Averages for total Course and Team, individual totals for Student
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>