<div class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/home">Continuous Assessment</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse" ng-controller="NavController">
        <ul class="nav navbar-nav">
            <li><a href="#/home" class="mdi-action-home"></a></li>
            <li class="dropdown">
                <a href="javascript:void(0)" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                    Select Course
                    <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li ng-model="selectedCourse.value" ng-repeat="x in courses"
                        ng-click="selectedCourseChanged(x.course)">
                        <a href="#/course/{{x.course}}">{{x.course}}</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                    Select Team
                    <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li ng-model="selectedTeam.value" ng-repeat="x in teams" ng-click="selectedTeamChanged(x.team)">
                        <a href="#/team/{{x.team}}">{{x.team}}</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                    Select Student
                    <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li ng-model="selectedStudent.value" ng-repeat="x in students"
                        ng-click="selectedStudentChanged(x.email, x.full_name)">
                        <a href="#/student/{{x.full_name}}">{{x.full_name}}</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="javascript:void(0)" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{user.firstName}} {{user.familyName}}
                    <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#/about">About CA</a></li>
                    <li><a href="#/metricsGuide">Metrics Guide</a></li>
                    <li><a href="#/apiDoc" access="super_user">API</a></li>
                    <li><a href="#/users" access="super_user">Manage Users</a></li>
                    <li><a href="#/users" access="admin">Manage Students</a></li>
                    <li><a href="#/studentProfile/{{user.login}}" access="student">Profile</a></li>
                    <li><a href="#/adminProfile/{{user.login}}" access="admin">Profile</a></li>
                    <li><a href="#/restProfile/{{user.login}}" access="rest">Profile</a></li>
                    <li><a href="#/agile_tool_admin" access="super_user">Agile Tool Admin</a></li>
                    <li><a href="#/create_course" access="super_user">New Course</a></li>
                    <li class="divider"></li>
                    <li><a href="#/logout"><i class="glyphicon glyphicon-off"></i> Sign out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>