<div class="bg-extended">
    <div class="align-vertical-center">

        <div class="container">

            <div class="row">


                    <div class="well-heading well-primary">
                        <div ng-controller="RegistrationController">
                        <h1>Register a new account</h1>
                    </div>

                    <form class="well-body">
                        <ul>
                            <li><strong><a href="/#/login" align="right">Back to Login</a></strong></li>
                        </ul>

                        <div class="form-group label-floating">
                            <label class="control-label" for="firstName">First Name</label>
                            <input id="firstName" type="text" class="form-control" ng-model="firstName"
                                   required="required"/>
                        </div>

                        <div class="form-group label-floating">
                            <label class="control-label" for="familyName">Last Name</label>
                            <input id="familyName" type="text" class="form-control" ng-model="familyName"
                                   required="required"/>
                        </div>

                        <div class="form-group label-floating">
                            <label class="control-label" for="email">Email</label>
                            <input id="email" type="email" class="form-control" ng-model="email"
                                   required="required"/>
                        </div>

                        <div class="form-group label-floating">
                            <label class="control-label" for="phone">Phone</label>
                            <input id="phone" type="text" class="form-control" ng-model="phone"
                                   required="required"/>
                        </div>

                        <div class="form-group label-floating">
                            <label class="control-label" for="birthDate">Birth Date</label>
                            <input id="birthDate" type="date" class="form-control" ng-model="birthDate"
                                   required="required"/>
                        </div>

                        <div class="form-group label-floating">
                            <label class="control-label" for="username">Username</label>
                            <input id="username" type="text" class="form-control" ng-model="username"
                                   required="required"/>
                        </div>

                        <div class="form-group label-floating">
                            <label class="control-label" for="password">Password</label>
                            <input id="password" type="password" class="form-control" ng-model="password"
                                   required="required"/>
                        </div>
                        <br/>
                        <p>Message from servlet: {{message}}</p>
                        <div class="col-sm-offset-3 col-sm-6">
                            <button class="btn btn-lg btn-primary btn-block" ng-click="sendRegistration()">
                                Register
                            </button>
                        </div>

                    </form>
                    </div>
            </div>
        </div>
    </div>
</div>
