<div class="navbar navbar-default">
    <div class="navbar-header">
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a class="navbar-brand">Course Selected: {{courseid}}</a></li>
                <li><a class="navbar-brand">Team Selected: {{teamid}}</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="well page">
    <h1 class="page-header">{{studentid}} Data</h1>
    <div style="color:black; float:right; padding-right: 130px;">
        <label style="color:black;">Select Start Date: </label>
        <select class="select_style" ng-model="SelectedWeekBeginning" ng-options="x.weekBeginning for x in studentIntervals"
                ng-change="IntervalChangedBegin(SelectedWeekBeginning.rawWeekBeginning)" ng-init="SelectedWeekBeginning=studentIntervals[studentIntervals.length - 1].weekBeginning">
        </select>
        <br>
        <label style="color:black;">  Select End Date: </label>
        <select class="select_style"  ng-model="SelectedWeekEnding" ng-options="x.weekEnding for x in studentIntervals"
                ng-change="IntervalChangedEnd(SelectedWeekEnding.rawWeekEnding)" ng-init="SelectedWeekEnding=studentIntervals[studentIntervals.length - 1].weekEnding">
        </select>
    </div>
    <div class="container" ng-controller="TabController">
        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked">
                    <li ng-class="{ active: isSet(1) }">
                        <a href="javascript:void(0)" ng-click="setTab(1)">Overall</a>
                    </li>
                    <li ng-class="{ active: isSet(2) }">
                        <a href="javascript:void(0)" ng-click="setTab(2)">Taiga</a>
                    </li>
                    <li ng-class="{ active: isSet(3) }">
                        <a href="javascript:void(0)" ng-click="setTab(3)">GitHub</a>
                    </li>
                    <li ng-class="{ active: isSet(4) }">
                        <a href="javascript:void(0)" ng-click="setTab(4)">Slack</a>
                    </li>
                </ul>
                <ul class="nav" access="admin">
                    <li><a ng-href="{{autograder_url}}">Autograding Tool</a></li>
                </ul>
                <ul class="nav" access="super_user">
                    <li><a ng-href="{{autograder_url}}">Autograding Tool</a></li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="jumbotron">
                    <div ng-show="isSet(1)">
                        <h2>Taiga-Github-Slack Frequency/Impact</h2>
                        <br>
                        <br>
                        <h3>Overall Averages For: {{SelectedWeekBeginning.weekBeginning}}  To  {{SelectedWeekEnding.weekEnding}}</h3><br>
                        <div id="selectedOverall" ng-controller="StudentController" style="width:37.5em !important; height:33.333em !important;">
                            <canvas id="radarSelected" class="chart" style="width:100%; height:100%;"></canvas>
                        </div>
                        <br>
                        <h3>Semester Overall Averages</h3><br>
                        <div id="totalOverall" ng-controller="StudentController" style="width:37.5em !important; height:33.333em !important;">
                            <canvas id="radarOverall" class="chart" style="width:100%; height:100%;"></canvas>
                        </div>
                    </div>
                    <div ng-if="isSet(2)">
                        <h3>Taiga Data</h3>
                        <br>
                        <h3>Task Totals</h3>
                        <div id="taigaChart1">
                            <nvd3 options='optionsForTaigaStudentTasks' data='dataForTaigaStudentTasks'></nvd3>
                        </div>
                       <!-- </div>
                        <div afterRender='fireRefreshEventOnWindow()' ng-controller='StudentController'>
                        -->
                        <div id="taigaChart2" ng-controller="StudentController">
                            <h3>Task Status Update Activity</h3><br>
                            <nvd3 options='optionsForTaigaStudentActivity' data='dataForTaigaStudentActivity'></nvd3>
                        </div>
                    </div>
                    <div ng-if="isSet(3)">
                        <h3>GitHub Data</h3>
                        <br>
                        <br>
                        <h3>GitHub Student Commit Activity:</h3>
                        <div id="githubChart1">
                            <nvd3 options='optionsForGitHubStudentCommits' data='dataForGitHubStudentCommits'></nvd3>
                        </div>
                        <div id="githubChart2" ng-controller="StudentController">
                            <h3>GitHub Student Weight Activity</h3><br>
                            <nvd3 options='optionsForGitHubStudentWeight' data='dataForGitHubStudentWeight'></nvd3>
                        </div>
                    </div>
                    <div ng-if="isSet(4)">
                        <h2>Slack Data</h2>
                        <br>
                        <h3>Message Totals</h3>
                        <div id="slackChart1">
                            <nvd3 options='optionsForSlackStudentMessages' data='dataForSlackStudentMessages'></nvd3>
                        </div>
                       <!-- </div>
                        <div afterRender='fireRefreshEventOnWindow()' ng-controller='StudentController'>
                           -->
                        <div id="slackChart2" ng-controller="StudentController">
                            <h3>Message Activity</h3><br>
                            <nvd3 options='optionsForSlackStudentActivity' data='dataForSlackStudentActivity'></nvd3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>