<div class="navbar navbar-default">
    <div class="navbar-header">
        <div class="navbar-collapse collapse navbar-responsive-collapse" ng-controller="StudentController">
            <ul class="nav navbar-nav navbar-left">
                <li><a class="navbar-brand">Course Selected: {{courseid}}</a></li>
                <li><a class="navbar-brand">Team Selected: {{teamid}}</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="well page" ng-controller="StudentController">
    <h1 class="page-header">{{studentid}} Data</h1>

    <div class="container" ng-controller="TabController">
        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked">
                    <li ng-class="{ active: isSet(1) }">
                        <a href="javascript:void(0)" ng-click="setTab(1)">Overall</a>
                    </li>
                    <li ng-class="{ active: isSet(2) }">
                        <a href="javascript:void(0)" ng-click="setTab(2)">Taiga</a>
                    </li>
                    <li ng-class="{ active: isSet(3) }">
                        <a href="javascript:void(0)" ng-click="setTab(3)">GitHub</a>
                    </li>
                    <li ng-class="{ active: isSet(4) }">
                        <a href="javascript:void(0)" ng-click="setTab(4)">Slack</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="jumbotron">
                    <div ng-show="isSet(1)">
                        <h3>Taiga Frequency and Weight</h3>
                        <table class="table table-bordered" fixed-header>
                            <thead>
                            <tr>
                                <th>Week Beginning</th>
                                <th>Week Ending</th>
                                <th>Weight</th>
                                <th>Frequency</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="x in weightFreq">
                                <td>{{ x.weekBeginning }}</td>
                                <td>{{ x.weekEnding }}</td>
                                <td>{{ x.weight }}</td>
                                <td>{{ x.frequency }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-show="isSet(2)">
                       <h3>Taiga Data</h3>
                       <br>
                        <h3>Task Totals</h3><br>
                        <label style="color: black">Select Week Beginning:</label>
                        <select class="select_style" ng-model="SelectedWeekBeginning" ng-options="x.weekBeginning for x in studentIntervals"
                                ng-change="IntervalChangedBegin(SelectedWeekBeginning.rawWeekBeginning)">
                        </select>
                        <br>
                        <label style="color: black">Select Week Ending:</label>
                        <select class="select_style" ng-model="SelectedWeekEnding" ng-options="x.weekEnding for x in studentIntervals"
                                ng-change="IntervalChangedEnd(SelectedWeekEnding.rawWeekEnding)">
                        </select>
                        <br><br>
                        <div ng-controller='StudentController'>
                            <nvd3 options='optionsForTaigaStudentTasks' data='dataForTaigaStudentTasks'></nvd3>

                            <h3>Task Status Update Activity</h3><br>
                            <nvd3 options='optionsForTaigaStudentActivity' data='dataForTaigaStudentActivity'></nvd3>
                        </div>
                    </div>
                    <div ng-show="isSet(3)">
                        <h1>GitHub Charts</h1>
                        <p> Content coming soon... </p>
                    </div>
                    <div ng-show="isSet(4)">
                        <h1>Slack Charts</h1>
                        <p> Content coming soon... </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>