<div class="well page">
    <h1 class="page-header">Taiga GitHub Admin Page</h1>
    <style>
        table, td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
        }
    </style>
    <div ng-controller="TaigaGitHubAdmin">
        <form ng-submit="updateTaigaTaskTotals()">
            <button type="submit" class="btn pull-left">Manual Update Taiga Task Totals</button>
        </form>
        <form ng-submit="updateGitHubCommitWeight()">
            <button type="submit" class="btn pull-left">Manual Update GitHub Commit-Weight</button>
        </form>
        <br>
        <br>
        <br>
    </div>
</div>