<div class="navbar navbar-default">
    <div class="navbar-header">
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a class="navbar-brand">Course Selected: {{courseid}}</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="well page">
    <h1 class="page-header">{{teamid}} Data</h1>
    <div style="color:black; float:right; padding-right: 130px;" >
        <label style="color:black;">Select Start Date: </label>
        <input id="SelectedStart" type="date" ng-model="SelectedWeekBeginning.weekBeginning" ng-change="IntervalChangedBegin(SelectedWeekBeginning.weekBeginning)">
        <!--<select class="select_style"  ng-model="SelectedWeekBeginning" ng-options="x.weekBeginning for x in courseIntervals"
                ng-change="IntervalChangedBegin(SelectedWeekBeginning.rawWeekBeginning)" ng-init="SelectedWeekBeginning=courseIntervals[courseIntervals.length - 1].weekBeginning">
        </select>-->
        <br>
        <label style="color:black;">  Select End Date: </label>
        <input id="SelectedEnd" type="date" ng-model="SelectedWeekEnding.weekEnding" ng-change="IntervalChangedEnd(SelectedWeekEnding.weekEnding)">
        <!--<select class="select_style"  ng-model="SelectedWeekEnding" ng-options="x.weekEnding for x in courseIntervals"
                ng-change="IntervalChangedEnd(SelectedWeekEnding.rawWeekEnding)" ng-init="SelectedWeekEnding=courseIntervals[courseIntervals.length - 1].weekEnding">
        </select>-->
    </div>
    <div class="container" ng-controller="TabController">
        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked">
                    <li ng-class="{ active: isSet(1) }">
                        <a href="javascript:void(0)" ng-click="setTab(1)">Overall</a>
                    </li>
                    <li ng-class="{ active: isSet(2) }">
                        <a href="javascript:void(0)" ng-click="setTab(2)">Taiga</a>
                    </li>
                    <li ng-class="{ active: isSet(3) }">
                        <a href="javascript:void(0)" ng-click="setTab(3)">GitHub</a>
                    </li>
                    <li ng-class="{ active: isSet(4) }">
                        <a href="javascript:void(0)" ng-click="setTab(4)">Slack</a>
                    </li>
                    <li ng-class="{ active: isSet(5) }" access="admin">
                        <a href="javascript:void(0)" ng-click="setTab(5)">Autograding Data</a>
                    </li>
                    <li ng-class="{ active: isSet(5) }" access="super_user">
                        <a href="javascript:void(0)" ng-click="setTab(5)">Autograding Data</a>
                    </li>
                </ul>

                <ul class="nav" access="admin">
                    <li><a ng-href="{{autograder_url}}">Autograding Tool</a></li>
                </ul>

                <ul class="nav" access="super_user">
                    <li><a ng-href="{{autograder_url}}">Autograding Tool</a></li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="jumbotron">
                    <div ng-show="isSet(1)">
                        <h2>Taiga-Github-Slack Frequency/Impact</h2>
                        <br>
                        <br>
                        <h3>Overall Averages For: {{SelectedWeekBeginning.weekBeginning.toDateString()}}  To  {{SelectedWeekEnding.weekEnding.toDateString()}}</h3><br>
                        <div id="selectedOverall" ng-controller="TeamController" style="width:37.5em !important; height:33.333em !important;">
                            <canvas id="radarSelected" class="chart" style="width:100%; height:100%"></canvas>
                        </div>
                        <br>
                        <h3>Semester Overall Averages</h3><br>
                        <div id="totalOverall" ng-controller="TeamController" style="width:37.5em !important; height:33.333em !important;">
                            <canvas id="radarOverall" class="chart" style="width:100%; height:100%"></canvas>
                        </div>
                    </div>
                    <div ng-if="isSet(2)">
                        <h2>Taiga Data</h2>
                        <br>
                        <h3>Average Task Totals</h3>
                        <div id="taigaChart1">
                            <nvd3 options='optionsForTaigaTeamTasks' data='dataForTaigaTeamTasks'></nvd3>
                        </div>
                        <!--</div>
                        <div afterRender='fireRefreshEventOnWindow()' ng-controller='TeamController'>
                            -->
                        <div id="taigaChart2" ng-controller="TeamController">
                            <h3>Task Status Update Activity</h3><br>
                            <nvd3 options='optionsForTaigaTeamActivity' data='dataForTaigaTeamActivity'></nvd3>
                        </div>
                    </div>
                    <div ng-if="isSet(3)">
                        <h3>GitHub Data</h3>
                        <br>
                        <br>
                        <h3>GitHub Team Average Commit Activity</h3><br>
                        <br>
                        <div id="githubChart1">
                            <nvd3 options='optionsForGitHubTeamCommits' data='dataForGitHubTeamCommits'></nvd3>
                        </div>

                        <div id="githubChart2" ng-controller="TeamController">
                            <h3>GitHub Team Average Weight Activity</h3><br>
                             <nvd3 options='optionsForGitHubTeamWeight' data='dataForGitHubTeamWeight'></nvd3>
                         <!--   <nvd3 options='optionsForGitHubTeamSubWeight' data='dataForGitHubTeamSubWeight'></nvd3> -->
                        </div>
                    </div>
                    <div ng-if="isSet(4)">
                        <h2>Slack Data</h2>
                        <br>
                        <h3>Average Message Totals</h3><br>
                        <div id="slackChart1">
                            <nvd3 options='optionsForSlackTeamMessages' data='dataForSlackTeamMessages'></nvd3>
                        </div>
                       <!-- </div>
                        <div afterRender='fireRefreshEventOnWindow()' ng-controller='TeamController'>
                           -->
                        <div id="slackChart2" ng-controller="TeamController">
                            <h3>Average Message Activity</h3><br>
                            <nvd3 options='optionsForSlackTeamActivity' data='dataForSlackTeamActivity'></nvd3>
                        </div>
                    </div>
                    <div ng-if="isSet(5)">
                        <h3 >GitHub Team Daily Activity</h3> <br>
                        <h3 style = "color: red;" ng-if="loading">{{loadingText}}</h3>  <br>
                        <br>

                        <!--Click here to view Autograding Helper Chart:
                        <input type="checkbox" id="githubChart3" />--> <!--ng-model="ModelData.githubChart3"-->
                        <div>  <!--ng-show="ModelData.githubChart3"-->
                            <nvd3 options='optionsForGitHubTeamTotals' data='dataForGitHubTeamTotals'></nvd3>
                        </div>

                        <div ng-controller="TeamController" ng-repeat="dailyValues in dataForGitHubTeamTotalsDaily">
                            <br>
                            <h2 style="text-align:center">{{dailyValues.student}}</h2>

                            <h4>Overall Stats</h4>
                            <table style="width: 80%" align="center" border="2">

                                <tr>
                                    <th><b>Branch</b></th>
                                    <th><b>Commits</b></th>
                                    <th><b>Additions</b></th>
                                    <th><b>Delete</b></th>
                                    <th><b>Total Changes</b></th>
                                </tr>
                                <tr>
                                    <th>Master Branch</th>
                                    <th>{{dailyValues.master_activity[0].commits}}</th>
                                    <th>{{dailyValues.master_activity[0].additions}}</th>
                                    <th>{{dailyValues.master_activity[0].deletions}}</th>
                                    <th>{{dailyValues.master_activity[0].total}}</th>
                                </tr>


                                <tbody ng-repeat="src in dailyValues.other_activity" ng-init="loopIndex=$index">
                                    <tr ng-if="dailyValues.other_activity[loopIndex].commitStudent != 0" >
                                    <th>{{dailyValues.other_activity[loopIndex].branchNameStudent}}</th>
                                    <th style="width: 40%">{{dailyValues.other_activity[loopIndex].commitStudent}}</th>
                                    <th>{{dailyValues.other_activity[loopIndex].addedStudent}}</th>
                                    <th>{{dailyValues.other_activity[loopIndex].deletedStudent}}</th>
                                    <th>{{dailyValues.other_activity[loopIndex].totalStudent}}</th>
                                </tr>

                            </table>

                            <br>
                            <h4>Inactivity Streaks</h4>
                            <table style="width: 80%" align="center" border="2">
                                <tr>
                                    <th>Longest Period of Inactivity : </th>
                                    <th style = "color: red;">{{dailyValues.inactivity_streak[0].max}}</th>
                                </tr>
                                <tr>
                                    <th>All Inactivity Periods : </th>
                                    <th>{{dailyValues.inactivity_streak[0].inactivity}}</th>
                                </tr>
                                <tr>
                                    <th>Total Inactive Days : </th>
                                    <th style = "color: red;"><b>{{dailyValues.inactivity_streak[0].sum}}</b></th>
                                </tr>
                            </table>
                            <br>

                            <h4>Activity Streaks</h4>
                            <table style="width: 80%" align="center" border="2">
                                <tr>
                                    <th>Longest Period of Activity : </th>
                                    <th style = "color: green;">{{dailyValues.activity_max}}</th>
                                </tr>
                                <tr>
                                    <th>All Activity Periods : </th>
                                    <th style = "color: black;"><b>{{dailyValues.activity_streak}}</b></th>
                                </tr>
                                <tr>
                                    <th>Total Active Days : </th>
                                    <th style = "color: green;"><b>{{dailyValues.total_active_days}}</b></th>
                                </tr>

                            </table>

                            <br>


                            <h4>Daily Activity</h4>
                            <input type="checkbox" checked ng-init="showZeros = true" ng-model="showZeros">Show Zeros

                            <table style="width: 80%" align="center" border="2">

                                <tr>
                                    <th>
                                        <b>Day</b>
                                    </th>
                                    <th>
                                        <b>Commits</b>
                                    </th>
                                    <th>
                                        <b>Additions</b>
                                    </th>
                                    <th>
                                        <b>Delete</b>
                                    </th>
                                    <th>
                                        <b>Total</b>
                                    </th>
                                </tr>

                                <tbody ng-repeat="src in dailyValues.day" ng-init="outerIndex=$index">
                                <tr  ng-show="showZeros || dailyValues.commits[outerIndex] != 0" ng-click="expanded = !expanded" expand>
                                    <td>{{dailyValues.day[outerIndex]}}</td>

                                    <td ng-if="dailyValues.commits[outerIndex] != 0" >{{dailyValues.commits[outerIndex]}}</td>
                                    <td ng-if="dailyValues.commits[outerIndex] == 0" style = "color: red;" >{{dailyValues.commits[outerIndex]}}</td>


                                    <td>{{dailyValues.add[outerIndex]}}</td>
                                    <td>{{dailyValues.del[outerIndex]}}</td>

                                    <td ng-if="dailyValues.total_color[outerIndex] == 0" >{{dailyValues.total[outerIndex]}}</td>
                                    <td ng-if="dailyValues.total_color[outerIndex] == 1" style = "color: red;" >{{dailyValues.total[outerIndex]}}</td>

                                </tr>


                                <tr ng-show="(showZeros || dailyValues.commits[outerIndex] != 0 ) && expanded " ng-repeat-end >
                                    <td colspan="5">
                                        <table class="table table-condensed table-bordered">
                                            <thead>
                                            <tr>
                                                <th>Branch</th>
                                                <th>Message</th>
                                                <th>Additions</th>
                                                <th>Deletions</th>
                                                <th>Total Changes</th>
                                                <th>Link</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="details in dailyValues.html_url[outerIndex]" ng-init="innerIndex=$index">
                                                <td>{{dailyValues.branch[outerIndex][innerIndex]}}</td>
                                                <td>{{dailyValues.message[outerIndex][innerIndex]}}</td>
                                                <td>{{dailyValues.add_commit[outerIndex][innerIndex]}}</td>
                                                <td>{{dailyValues.del_commit[outerIndex][innerIndex]}}</td>
                                                <td>{{dailyValues.total_commit[outerIndex][innerIndex]}}</td>
                                                <td><a href={{dailyValues.html_url[outerIndex][innerIndex]}} target="_blank"> View Commit </a></td>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </div>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>